# Data science Tools and Ecosystem

In this notebook, data science tools and ecosytem are summaraised

some of the popular languages that data scientists use are:
1. python
2. R language
3. SQL
4. Java

some of the commonly used libraries used by data scientists include 
1. ggplot2
2. dplyr
3. pandas
4. matplotlib
5. caret

| Data science tools|
------------
|apache spark|
|hadoop|
|tensor flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers

a = (3*4)+5
print (a)

17

In [3]:
## This will convert 200 minutes to hours by diving by 60

MTH  = 200*(1/60)
print (MTH)

3.3333333333333335

__Objectives__
* creating markdown cells
* creating cells
* saving cells
* typing text using markdown cells

## __Author__
LK